
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset">
      <h1>Cocktails!</h1>
      <% @cocktails.each do |cocktail| %>
      <h3><%= cocktail.name %></h3>

      <%= link_to "See cocktail details", cocktail_path(cocktail)%>
      <%= link_to "Create a new cocktail", new_cocktail_path(cocktail)%>
      <% end %>
    </div>
  </div>
</div>

