<div class="btn-treehouse"><p><%= link_to "Create a new cocktail", new_cocktail_path%></p></div>

<% @cocktails.each do |cocktail| %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/cocktails.jpg');">
        <div class="card-category">Cocktails</div>
        <div class="card-description">
          <h3><%= cocktail.name %></h3>
          <p><%= link_to "See cocktail details", cocktail_path(cocktail)%></p>

          <%= link_to "Delete cocktail", cocktail_path(cocktail),
          method: :destroy,
          data: { confirm: "Are you sure?" } %>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
<% end %>
